{% extends "search/index.html" %}

{% block search %}
<p>Transcripts can be searched via nucleotide search string.  Please use &#39;T&#39; instead of &#39;U&#39; as your query.  Searches are implemented using BLASTn to search a local blast database for each individual species.  Local BLAST databases were set up using makeblastdb function from NCBI BLAST+ v. 2.6.0 (NCBI; makeblastdb –in fasta file –parse_seqids –dbtype nucl).  If no results are found consider increasing the expected value to allow for less sequence similarity (Default e-value: 0.00001).</p>
<form role="search" method="get" action="{% url 'search:blastn_search' %}">
    {% csrf_token %}
    <div class="form-group">
        <b>Sequence:</b> <input type="text" class ="form-control" name="query" value="">
        <div class="row">
          <div class="col-xs-6">
            <b>Species:</b>
          </div>
          <div class="col-xs-6">
            <b>Threshold:</b>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <select class ="form-control"  name="species">
                <option value="Poa Infirma">Poa infirma</option>
                <option value="Poa Supina">Poa supina</option>
                <option value="Poa Annua Infirma">Poa annua-infirma homeolog</option>
                <option value="Poa Annua Supina">Poa annua-supina homeolog</option>
                <option value="Eleusine Indica">Eleusine indica</option>
                <option value="Cyperus Rotundus">Cyperus rotundus</option>
                <option value="Cyperus Esculentus">Cyperus esculentus</option>
            </select>
          </div>
          <div class="col-xs-6">
            <select class ="form-control"  name="threshold">
               <option value="None">None</option>
               <option value="0.01">0.01</option>
               <option value="0.001">0.001</option>
               <option value="0.0001">0.0001</option>
               <option value="0.00001">0.00001</option>
               <option value="0.000001">0.000001</option>
               <option value="0.0000001">0.0000001</option>
               <option value="0.00000001">0.00000001</option>
               <option value="0.000000001">0.000000001</option>
           </select>
          </div>
        </div>

    <br/><button type="submit" class="btn btn-primary">Search</button>
    </div>
</form><br/>

{% block results %} {% endblock %}

{% endblock %}
