{% extends "search/index.html" %}

{% block search %}

<form role="search" method="get" action="{% url 'search:blastn_search' %}">
    {% csrf_token %}
    <div class="form-group">
        <b>Sequence:</b> <input type="text" class ="form-control" name="query" value="">
        <b>Species:</b> <select class ="form-control"  name="species">
            <option value="Poa_infirma">Poa infirma</option>
            <option value="Poa_supina">Poa supina</option>
            <option value="Poa_annua_infirma">Poa annua-infirma homeolog</option>
            <option value="Poa_annua_supina">Poa annua-supina homeolog</option>
            <option value="Eleusine_indica">Eleusine indica</option>
            <option value="Cyperus_rotundus">Cyperus rotundus</option>
            <option value="Cyperus_esculentus">Cyperus esculentus</option>
        </select>
        <b>Threshold:</b> <select class ="form-control"  name="threshold">
            <option value="None">None</option>
        </select>
    <br/><br/><button type="submit" class="btn btn-primary">Search</button>
    </div>
</form><br/>

{% block results %} {% endblock %}

{% endblock %}
