{% extends "search/herbiscide_search.html" %}

{% load staticfiles %}

{% block results %}
<div class="container">
  <div class="panel">
      <div class="panel-body" id="herbDetail">
        <table class="table" id="removeBorder">
          <tr>
            <td class="col-xs-2"><a href="{% url 'search:download_herb_fasta' sequence.genbankId %}"><img src= "{% static 'search/images/download.png' %}" width="20" height="20" />Download Fasta</a></td>
          </tr>
          <tr>
            <td class="col-xs-2">Organism</td>
            <td class="col-xs-10">{{sequence.organism}}</td>
          </tr>
          <tr>
            <td>Gene ID</td>
            <td>{{sequence.gene_id}}</td>
          </tr>
          <tr>
            <td>Genus</td>
            <td>{{sequence.genus}}</td>
          </tr>
          <tr>
            <td>Title</td>
            <td>{{sequence.title}}</td>
          </tr>
          <tr>
            <td>Pubmed ID</td>
            <td>{{sequence.pubmed_id}}</td>
          </tr>
          <tr>
            <td>Accession</td>
            <td>{{sequence.genbankId}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{sequence.description}}</td>
          </tr>
          <tr>
            <td>Submission Date</td>
            <td>{{sequence.submissionDate}}</td>
          </tr>
          <tr>
            <td>Sequence Technology</td>
            <td>{{sequence.seqTechnology}}</td>
          </tr>
          <tr>
            <td>Taxonomy</td>
            <td>{{sequence.taxonomy}}</td>
          </tr>
          <tr>
            <td>Sequence Length</td>
            <td>{{sequence.sequenceLength}}</td>
          </tr>
          <tr>
            <td>Authors</td>
            <td>{{sequence.authors}}</td>
          </tr>
          <tr>
            <td>Comment</td>
            <td>{{sequence.comment}}</td>
          </tr>
          <tr>
            <td>Journal</td>
            <td>{{sequence.journal}}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{sequence.location}}</td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>{{sequence.sequence}}</td>
          </tr>
        </table>
      </div>
    </div>
</div>
{% endblock %}
