{% extends "search/index.html" %}

{% block search %}
<p>Assembled transcriptomes can be searched by keyword annotations.  Names attached to transcripts using Trinotate were selected based on the Swiss-Prot database annotation <a href="http://www.uniprot.org/">(http://www.uniprot.org/)</a>. Transcripts that were unannotated were named as &#39;unidentified transcript&#39;.  To search by keyword, you must first select a species to narrow the search field.  Results can be downloaded as FASTA files. </p>
<form role="search" method="get" action="{% url 'search:search_keyword' %}">
    {% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <b>Keyword:</b>
        </div>
        <div class="col-xs-6">
          <b>Species:</b>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <input type="text" class ="form-control" name="query" value="">
        </div>
        <div class="col-xs-6">
          <select class ="form-control" name="species">
              <option value="Poa Infirma">Poa infirma</option>
              <option value="Poa Supina">Poa supina</option>
              <option value="Poa Annua Infirma">Poa annua-infirma homeolog</option>
              <option value="Poa Annua Supina">Poa annua-supina homeolog</option>
              <option value="Eleusine Indica">Eleusine indica</option>
              <option value="Cyperus Rotundus">Cyperus rotundus</option>
              <option value="Cyperus esculentus">Cyperus esculentus</option>
              <option value="Amaranthus tricolor">Amaranthus tricolor</option>
              <option value="Amaranthus tuberculatus">Amaranthus tuberculatus</option>
          </select>
        </div>
      </div>
    <br/>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

{% block results %} {% endblock %}

{% endblock %}
