{% extends "search/index.html" %}

{% block search %}

<div>
  <h1>Species Page</h1>
  <table class="table table-striped table-bordered">
    <tbody>
      <thead class="thead-inverse">
      <tr class="row1">
      <th class="column0 style1 s">Species</th>
      <th class="column1 style1 s">Common Name</th>
      <th class="column2 style1 s">Sequencing Read Source and Number</th>
      <th class="column3 style1 s">Assembler</th>
      <th class="column4 style1 s">Number Contigs Assembled</th>
      <th class="column5 style1 s">Annotation Software</th>
      <th class="column6 style1 s">Unannotated Contigs</th>
      <th class="column7 style1 s">Percent Annotated</th>
      <th class="column8 style1 s">Contributor</th>
      <th class="column9 style1 s">Published</th>
      </tr>
    </thead>
      <tr class="row2">
      <td class="column0 style2 s">Eleusine indica</td>
      <td class="column1 style3 s">goosegrass</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Multiple assemblers (SoapDeNovo, Trinity, Velvet, and CLC) refined with EvidentialGene</td>
      <td class="column4 style7 n">29,774</td>
      <td class="column5 style3 s">Blast2Go</td>
      <td class="column6 style6 n">7093</td>
      <td class="column7 style5 f">76.2</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row3">
      <td class="column0 style2 s">Poa infirma</td>
      <td class="column1 style3 s">weak bluegrass</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Multiple assemblers (SoapDeNovo, Trinity, Velvet, and CLC) refined with EvidentialGene</td>
      <td class="column4 style7 n">38,117</td>
      <td class="column5 style3 s">Blast2Go</td>
      <td class="column6 style6 n">9019</td>
      <td class="column7 style5 f">76.3</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row4">
      <td class="column0 style2 s">Poa supina</td>
      <td class="column1 style3 s">supine bluegrass</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Multiple assemblers (SoapDeNovo, Trinity, Velvet, and CLC) refined with EvidentialGene</td>
      <td class="column4 style7 n">36,429</td>
      <td class="column5 style3 s">Blast2Go</td>
      <td class="column6 style6 n">9188</td>
      <td class="column7 style5 f">74.8</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row5">
      <td class="column0 style2 s">Poa annua - infirma</td>
      <td class="column1 style3 s">annual bluegrass - I Genome</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Multiple assemblers (SoapDeNovo, Trinity, Velvet, and CLC) refined with EvidentialGene</td>
      <td class="column4 style7 n">28,056</td>
      <td class="column5 style3 s">Blast2Go</td>
      <td class="column6 style6 n">4729</td>
      <td class="column7 style5 f">83.1</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row6">
      <td class="column0 style2 s">Poa annua - supina</td>
      <td class="column1 style3 s">annual bluegrass - S Genome</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Multiple assemblers (SoapDeNovo, Trinity, Velvet, and CLC) refined with EvidentialGene</td>
      <td class="column4 style7 n">27,577</td>
      <td class="column5 style3 s">Blast2Go</td>
      <td class="column6 style6 n">4536</td>
      <td class="column7 style5 f">83.6</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row7">
      <td class="column0 style2 s">Cyperus esculentus</td>
      <td class="column1 style3 s">yellow nutsedge</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style7 n">105,768</td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style7 n">47,934</td>
      <td class="column7 style5 f">54.7</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, J.K. Norsworthy, Arkansas</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row8">
      <td class="column0 style2 s">Cyperus rotundus</td>
      <td class="column1 style3 s">purple nutsedge</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style7 n">55,946</td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style7 n">28,072</td>
      <td class="column7 style5 f">49.8</td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, J.K. Norsworthy, Arkansas</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row9">
      <td class="column0 style2 s">Paspalum urvillei</td>
      <td class="column1 style3 s">vaseygrass</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style6 null"></td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style6 null"></td>
      <td class="column7 style5 null"></td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, P.E. McCullough, Georgia</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row10">
      <td class="column0 style2 s">Leptochloa panicoides</td>
      <td class="column1 style3 s">Amazon sprangletop</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style6 null"></td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style6 null"></td>
      <td class="column7 style5 null"></td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, J.K. Norsworthy, Arkansas</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row11">
      <td class="column0 style2 s">Chamaesyce maculata</td>
      <td class="column1 style3 s">spotted spurge</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style6 null"></td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style6 null"></td>
      <td class="column7 style5 null"></td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, P.E. McCullough, Georgia</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row12">
      <td class="column0 style2 s">Cyperus difformis</td>
      <td class="column1 style3 s">small-flowered umbrella sedge</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style6 null"></td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style6 null"></td>
      <td class="column7 style5 null"></td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, J.K. Norsworthy, Arkansas</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row13">
      <td class="column0 style2 s">Digitaria sanguinalis</td>
      <td class="column1 style3 s">large crabgrass</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style6 null"></td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style6 null"></td>
      <td class="column7 style5 null"></td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, P.E. McCullough, Georgia</td>
      <td class="column9">&nbsp;</td>
      </tr>
      <tr class="row14">
      <td class="column0 style2 s">Cyperus iria</td>
      <td class="column1 style3 s">rice-flat sedge</td>
      <td class="column2 style3 s">Illumina HiSeq, Hudson Alpha, 100 bp pe reads, 50 million reads</td>
      <td class="column3 style3 s">Trinity v2.4.0</td>
      <td class="column4 style6 null"></td>
      <td class="column5 style3 s">Trinotate v2.0.2</td>
      <td class="column6 style6 null"></td>
      <td class="column7 style5 null"></td>
      <td class="column8 style3 s">J.S. McElroy, Auburn University, J.K. Norsworthy, Arkansas</td>
      <td class="column9">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

{% block results %} {% endblock %}

{% endblock %}
