{% extends "search/index.html" %}
{% block search %}

<h1 align="center">Meet the team</h1>

<div class="media">
  <div class="media-left">
    <img src="/static/search/images/scott.jpg" height="200px" width="200px" class="media-object img-circle">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Scott McElroy</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <h4 align="right" class="media-heading">Tony Barnhardt</h4>
    <p align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="media-right">
    <img src="http://via.placeholder.com/200x200" class="media-object img-circle">
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="http://via.placeholder.com/200x200" class="media-object img-circle">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Shu Chen</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <h4 align="right" class="media-heading">Sumeet Wilkhu</h4>
    <p align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="media-right">
    <img src="/static/search/images/sumeet.png" class="media-object img-circle">
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="http://via.placeholder.com/200x200" class="media-object img-circle">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Sunit Sivaraj</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

{% endblock %}
