{% extends "search/index.html" %}
{% block search %}

<h1 align="center">Past and Current Contributors</h1>

<div class="media">
  <div class="media-left">
    <img src="/static/search/images/scott.jpg" height="200px" width="200px" class="media-object img-circle">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><u>Scott McElroy</u></h4>
    <p style="text-align:justify">Dr. Scott McElroy is a Professor in the Department of Crop, Soil, and Environmental Sciences in the College of Agriculture at Auburn University.  His primary research focus is on weed science with emphasis on herbicide usage in turfgrass and detection and management of herbicide resistant weeds in turfgrass.  Dr. McElroy's weed genomics lab primarily focuses on evolution and ecology of Poa annua, Eleusine indica, and Cyperus species.  Dr. McElroy also manages an extensive turfgrass science research program and is currently an elected board member to the International Turfgrass Society.  Dr. McElroy is a member of the Weed Science Society of America, former board member for the Southern Weed Science Society, and an associate editor for Weed Technology.  <a href="https://scholar.google.com/citations?hl=en&user=7GyOLNAAAAAJ&view_op=list_works">Google Scholar Profile</a></p>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <h4 align="right" class="media-heading"><u>Tony Barnhardt</u></h4>
    <p align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="media-right">
    <img src="http://via.placeholder.com/200x200" height="200px" width="200px" class="media-object img-circle">
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="/static/search/images/shu.png" height="200px" width="200px" class="media-object img-circle">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><u>Shu Chen</u></h4>
    <p style="text-align:justify">Shu was a former graduate student of Auburn University and worked in Dr.  McElroy’s lab from 2012 to 2015. During his graduate study, Shu mainly focused on constructing high-quality, well annotated transcriptomes and genomes for weed species and deciphering molecular mechanisms underlying herbicide resistances, and helped initialize weedgenomics website and database. Currently, Shu is an Associate Professor at South China Agricultural University, working on functional characterization of genes and networks associated with cold tolerance of a tropical forage, Stylosanthes.</p>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <h4 align="right" class="media-heading"><u>Sumeet Wilkhu</u></h4>
    <p align="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="media-right">
    <img src="/static/search/images/sumeet.png" height="200px" width="200px" class="media-object img-circle">
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="/static/search/images/sunit.jpg" height="200px" width="200px" class="media-object img-circle">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><u>Sunit Sivaraj</u></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

{% endblock %}
